.section {
  background-color: lightsteelblue;
  padding: 60px 0;
  width: 100%;
}

.child {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
  padding: 40px;
  gap: 40px;
  flex-wrap: wrap;
}
.section__image {
  flex: 1;
  min-width: 300px;
}

.section__image img {
  width: 800px;
  height: 700px;
  border-radius: 4px;
  object-fit: cover;
}

.section__content {
  flex: 1;
  min-width: 300px;
}

.section__content h2 {
  font-size: 60px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #2e2e2e;
}

.section__content p {
  font-size: 24px;
  color: #444;
  margin-bottom: 30px;
  margin-left: 250px;
  line-height: 1.6;
}

.section__buttons {
  display: flex;
  gap: 20px;
}

.btn {
  padding: 12px 24px;
  border: none;
  cursor: pointer;
  font-weight: 500;
  font-size: 20px;
}

.subscribe {
  background-color: #834848;
  color: white;
}

.show-more {
  background: none;
  border-bottom: 2px solid #834848;
  color: #834848;
}
