.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  padding: 40px;
  width: 30%;
  height: 40%;
  margin-left: 1000px;
}

.product-card {
  background: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px;
}

.product-card h3 {
  margin: 10px 0 5px;
  font-size: 1.1rem;
}

.product-card .price {
  font-weight: bold;
  color: #000;
}
