.contact-hero {
  background-color: #111;
  color: white;
  text-align: center;
  padding: 60px 20px 40px;
}

.contact-hero h1 {
  font-size: 70px;
  font-weight: bold;
  margin: 0;
}

.contact-page {
  padding: 40px;
  font-family: "Segoe UI", sans-serif;
  background-color: #fff;
  color: #222;
}

.contact-section {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.contact-left {
  flex: 1;
  min-width: 300px;
}

.contact-left h2 {
  font-size: 40px;
  margin-bottom: 15px;
}

.contact-info {
  font-size: 25px;
  line-height: 1.8;
  margin-bottom: 20px;
  margin-left: 250px;
}

.social-icons i {
  font-size: 30px;
  color: #155e63;
  cursor: pointer;
  margin-left: 250px;
}

.collab {
  margin-top: 40px;
}

.collab h2 {
  font-size: 24px;
  margin-bottom: 8px;
  margin-left: 250px;
}
.collab p {
  margin-left: 250px;
  font-size: 25px;
}

.contact-right {
  flex: 1;
  min-width: 300px;
  font-size: 25px;
}

form {
  display: flex;
  flex-direction: column;
  font-size: 25px;
}

label {
  font-size: 24px;
  margin-bottom: 5px;
  margin-top: 30px;
}

input,
textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
  border-radius: 4px;
}

textarea {
  height: 100px;
  resize: vertical;
}

button {
  background-color: #864d4d;
  color: white;
  padding: 10px;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  width: 120px;
  cursor: pointer;
  align-self: flex-end;
  margin-right: 250px;
}

button:hover {
  background-color: #6e3f3f;
}
.map-container {
  margin-top: 40px;
}
