* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", sans-serif;
  color: #333;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 60px;
  background: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-img {
  height: 90px;
  width: 90px;
  margin-left: 30px;
}

.brand {
  font-family: "Cursive";
  font-size: 1.5rem;
  color: #8b5e3c;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 25px;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-weight: 500;
}

.cart-icon i {
  color: #8b5e3c;
  font-size: 1.2rem;
}

.hero {
  background: url("main.png") center/cover no-repeat;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  color: white;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  border: 2px solid black;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 20px;
}

.hero p {
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 30px;
}

.hero button {
  background-color: #9b4d45;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 3px;
}
